.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  margin: 0px 280px 0px 200px;
  width: 50%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid #000000;
  border-radius: 0.25rem;
}

@media (max-width: 1440px) {
  .card {
    margin: 0px 280px 0px 280px;
  }
}

@media (max-width: 767px) {
  .card {
    margin: 0px;
    width: 70%;
  }
}
